.form {
	color: white;
	padding: 30px 0;

	.inputBlock {
		display: flex;
		justify-content: space-between;
	}

	.results {
		display: flex;
		justify-content: space-between;

		.outputBlock {
			color: rgba(255, 255, 255, 1);
			transition: color 0.15s ease-in-out;

			&__hidden {
				color: rgba(255, 255, 255, 0.2);
			}
		}

		.rates {
			padding: 10px 0 0;

			.privatRate {
				.logo {
					color: rgb(141, 198, 65);
					font-size: 18px;
					margin-right: 10px;
				}
			}
		}
	}

	.input_black {
		width: 220px;
		color: white;
	}
}
