.details {
  height: 100%;
  background-color: var(--color-gray);

  .inner {
    padding: 40px;
    background-color: var(--color-white);
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 35px 15px;
    }

    .return {
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
      }
    }

    .info {
      margin: 30px 0 50px;
      display: flex;

      @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 0 50px;
      }

      .image_block {
        width: fit-content;
        margin-right: 35px;
        position: relative;
        flex-shrink: 0;

        @media (max-width: 768px) {
            margin-right: 0;
        }

        .poster {
          display: block;
          position: relative;
          width: 300px;
          height: auto;
          border-radius: 5px;
          overflow: hidden;
          object-fit: cover;
          aspect-ratio: 2/3;
          background-color: var(--color-dark);

          &.skeleton {
            background-color: #ebebeb;
          }
        }

        .rating {
          background-color: var(--color-green);
          position: absolute;
          top: 10px;
          left: 10px;
          padding: 6px 8px;
          border-radius: 5px;
          color: white;
          line-height: 1;
        }
      }

      .description {
        width: 100%;

        h1 {
          font-weight: 800;
          font-size: 40px;
          line-height: 48px;
          max-width: 650px;
          margin: 0 0 20px;
          color: var(--color-light-dark);

          @media (max-width: 768px) {
            text-align: center;
            margin: 20px 0;
            font-size: 34px;
          }
          @media (max-width: 576px) {
            font-size: 28px;
          }
        }

        .year {
          font-weight: 800;
          font-size: 36px;
          font-style: italic;
          color: rgba(31, 31, 31, 0.76);

          @media (max-width: 768px) {
            font-size: 32px;
          }
          @media (max-width: 576px) {
            font-size: 26px;
          }
        }

        .film_name {
          display: block;
          font-weight: 300;
          font-size: 20px;
          line-height: 28px;
          color: rgba(0,0,0,.5);
          margin-bottom: 25px;

          @media (max-width: 768px) {
            text-align: center;
          }
        }

        .btns {
          display: flex;

          @media (max-width: 768px) {
            justify-content: center;
          }

          .button {
            border-radius: 30px;
            padding: 13px 24px;
            font-weight: 500;
            font-size: 15px;

            @media (max-width: 768px) {
              width: 40%;
            }

            &__blue {
              background-color: var(--color-primary);
              margin-right: 15px;
            }
            &__gray {
              background-color: var(--color-gray);
              color: var(--color-dark);
            }
          }

        }

        .title {
          margin-top: 40px;
        }
        .info_list {

          .info_item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
              margin-bottom: 20px;
            }

            span {
              font-size: 15px;
              font-weight: 300;
            }

            .info_name {
              flex: 0 0 170px;
              color: rgba(0,0,0,.5);

              @media (max-width: 576px) {
                flex: 0 0 140px;
              }
            }

          }
        }


      }
    }
  }
}