////Tabs
//
//
//#tab1:checked ~ section .tab1,
//#tab2:checked ~ section .tab2,
//#tab3:checked ~ section .tab3 {
//  display: block;
//}
//
////#tab1:checked ~ .tabs .tab1,
////#tab2:checked ~ .tabs .tab2,
////#tab3:checked ~ .tabs .tab3 {
////    color: red;
////}
//
///* Visual Styles */
//
//$activeColor: #ffffff;
//$unactiveColor: #eeeeee;
//$unactiveHoverColor: #dddddd;
//
//@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
//@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);
//
//
//.main {
//  width: 100%;
//  //max-width: 700px;
//  margin: 0 auto;
//
//  //section .tab1 {
//  //  padding: 20px 0;
//  //
//  //  .overview {
//  //    font-size: 15px;
//  //    line-height: 23px;
//  //    color: rgba(0,0,0,.5);
//  //    font-weight: 400;
//  //  }
//  //}
//
//  .tabs {
//    position: relative;
//
//    &:before {
//      content: "";
//      display: block;
//      position: absolute;
//      bottom: 0;
//      left: 0;
//      width: 100%;
//      height: 1px;
//      border-bottom: 1px solid rgba(0,0,0,.1);
//      transition: background-color .3s;
//    }
//
//    ul {
//      list-style: none;
//      display: flex;
//      padding: 0;
//      align-items: center;
//      overflow-y: hidden;
//      overflow-x: auto;
//      li {
//        position: relative;
//        padding: 12px 10px;
//        outline: none;
//        cursor: pointer;
//        white-space: nowrap;
//        transition: color .3s;
//        color: rgb(31, 31, 31);
//        font-weight: 300;
//        label {
//
//          &:after {
//            content: "";
//            display: block;
//            position: absolute;
//            width: 100%;
//            height: 2px;
//            bottom: 0;
//            left: 0;
//            background-color: #005382;
//            opacity: 0;
//            visibility: hidden;
//            border-radius: 5px 5px 0 0;
//            transition: opacity .3s,visibility .3s;
//          }
//
//          //label {
//          //    //font-family: "Raleway";
//          //    //float: left;
//          //    //display: flex;
//          //    flex-direction: row;
//          //    padding: 0 25px 15px;
//          //    //border: 1px solid #ddd;
//          //    //border-bottom: 0;
//          //    background: $unactiveColor;
//          //    color: #444;
//          //    &:hover {
//          //        background: $unactiveHoverColor;
//          //    }
//          //    &:active {
//          //        background: $activeColor;
//          //    }
//          //}
//          &:not(:last-child) label {
//            border-right-width: 0;
//          }
//        }
//      }
//    }
//  }
//}
//
//
//#tab1:checked ~ .tabs .tab1,
//#tab2:checked ~ .tabs .tab2,
//#tab3:checked ~ .tabs .tab3 {
//  label {
//    font-weight: 400;
//    color: #005382;
//
//    &:after {
//      opacity: 1;
//      visibility: visible;
//    }
//  }
//}
.tab {
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: background-color .3s;
  }
}

.label {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 10px;
  font-weight: 300;
  transition: 0.3s;
  font-size: 17px;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #005382;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px 5px 0 0;
    transition: opacity .3s, visibility .3s;
  }

  &.active {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.content {
  padding: 20px 0 40px;
  font-size: 15px;
  line-height: 23px;
  color: rgba(0,0,0,.5);
  font-weight: 400;
}